.bg-img {
    /* The image used */
    background-image: url("img_nature.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
body{
background-color: rgb(113, 157, 99);
}
#kok{
width: 1000px;
position: relative;
left: 250px;
}
#kok2{
width: 220px;
position: relative;
left: 0px;
}
#groend{
width: 70px;
position: relative;
left: 20px;
}
#min{
width: 250px;
position: relative;
left: 30px;
top: -50px;
}
#min1{
width: 250px;
position: relative;
left: 110px;
top: -35px;
}
#min3{
width: 290px;
left: 190px;
position: relative;
top: -35px;
}
#val{
width: 275px;
position: relative;
left: -95px;
top: 150px;
}
#val1{
width: 270px;
position: relative;
left: -717px;
top: 150px;
}
#val3{
width: 260px;
position: relative;
left: 30px;
top: 0px;
}
#fam{
width: 250px;
position: relative;
left: 0px;
top: 0x;
}
#kokk{
width: 850px;
position: relative;
left: 250px;
top: 60px;
}
#hond1{
width: 200px;
position: relative;
left: 10px;
top: -80px;
}
#kat{
width: 160px;
position: relative;
left: 100px;
top: -30px;
}
#yt{
width: 260px;
position: relative;
left: 40px;
top: -30px;
}